@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1 style="font-family:'Times New Roman', Times, serif">Bem Vindo ao PJG Plantas</h1>
    <br />
    <p class="lead" style="font-family:'Times New Roman', Times, serif">
        PJG Plantas é um projeto de uma mini loja online que fiz no TCC ano passado com VueJs e Python(Django).<br />
        Agora estou replicando o backend em C#
    </p>
</div>

<div class="row" style="display:flex;flex-direction:row;justify-content:center;margin-left:60px">
    <div class="col-md-4" style="margin-top:15px">
        <img src="~/Images/icons8-github-100.png" class="img-responsive" />
        <br />
        <p><a href="https://github.com/jaummsilva" target="_blank" class="btn btn-primary" style="margin-top:1px">Meu GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/icons8-linkedin-circled-120.png" class="img-responsive" style="margin-top:5px" />
        <p><a href="https://www.linkedin.com/in/jo%C3%A3ovitordasilva/" style="margin-top:11px" target="_blank" class="btn btn-primary">Meu Linkedin &raquo;</a></p>
    </div>
</div>